/* @import url('http://fonts.cdnfonts.com/css/sofia-pro'); */

body {
  margin: 0;
  font-family: 'futura-pt', sans-serif;
font-style: normal;
font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
.font-small{
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 300;
                                                
}
.font-normal{
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 600;

}
.text-gradient{
  background: rgb(133,39,73);
background: linear-gradient(0deg, rgba(133,39,73,0.8477591720281863) 0%, rgba(22,28,50,1) 22%); 
}
.link-underline {
  
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}
.link-underline:hover {
  
  color: #C03869;
  background-size: 100% 3px;
  background-position: 0 100%
}
.social {
  text-decoration: none;
 
  transition: all 0.4s ease-in-out;
}
.glow-social:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: #cc3686 0 0 12px 4px;
}
.scroll{
  overflow-y:scroll;
  scroll-snap-type: y mandatory;
  height:100vh;
  

}
.scrolli{
  scroll-snap-align: start;
}



@tailwind base;
@tailwind components;
@tailwind utilities;